<form class="needs-validation" method="post" style="margin-top: 1%">

<% if @errors %>
  <div class="alert alert-warning">
  <% @errors.each do |error|%>
    <%= error %><br>
  <% end%>
  </div>
<% end %>

  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationCustom01">Откуда:</label>
      <input type="text" class="form-control" id="from" name="from" placeholder="Ярославль(обязательно)" value="" required>
      <div class="valid-feedback">
        Ок!
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom02">Куда:</label>
      <input type="text" class="form-control" id="to" name="to" placeholder="Москва(обязательно)" value="" required>
      <div class="valid-feedback">
        Ок!
      </div>
    </div>
    <div class="col-md-2 mb-2">
      <label for="validationServer04">Интервал дат:</label>
      <input type="text" class="form-control" id="date_from" name="date_from" placeholder="<%= "#{@time.day}.#{@time.month}" %>(обязательно)" required>
      <div class="invalid-feedback">
        Please provide a valid .
      </div>
    </div>
    <div class="col-md-2 mb-2">
      <label for="validationServer05">&nbsp;</label>
      <input type="text" class="form-control" id="date_to" name="date_to" placeholder="<%= "#{@time.day+1}.#{@time.month}" %>" >
      <div class="invalid-feedback">
        Please provide a valid .
      </div>
    </div>
    <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationServer04">&nbsp;Цена:</label>
      <input type="text" class="form-control" id="price_from" name="price_from" placeholder="От" >
      <div class="invalid-feedback">
        Please provide a valid .
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationServer05">&nbsp;</label>
      <input type="text" class="form-control" id="price_unto" name="price_unto" placeholder="До" >
      <div class="invalid-feedback">
        Please provide a valid .
      </div>
    </div>
  </div>
  </div>

  <button class="btn btn-primary" type="submit">Искать</button>
</form>

<hr>
<% if @trains%>
  <% @trains.each do |train| %>
      <div class="card" style="margin-top: 2%">

        <h5 class="card-header"><%= train.depart + " - " + train.arrived %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Номер поезда: <%= train.number%></h5>
        <div class="card-body">
        <h5 class="card-title"><%= train.d_time + " ------> " + train.a_time %></h5>
        <p class="card-text"><%= train.d_date %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= train.a_date %></p>
        <% if @user%>
          <a href="/cart/add/<%= "#{train.id}" %>" class="btn btn-primary">Купить <%= "#{train.price}p" %></a>
        <% else%>
          <a href="/login" class="btn btn-primary">Купить <%= "#{train.price}p" %></a>
        <% end%>
      </div>
    </div>
  <% end%>
<% end%>