
<div class="card" style="margin-top: 1%">
  <h5 class="card"></h5>
  <div class="card-body">
    <h3 class="card-title">Добавить навый поезд</h3>
    <a href='/trains/new' class="btn btn-primary">Добавить</a>
  </div>
</div>

<% if @trains%>
  <% @trains.each do |train| %>
      <div class="card" style="margin-top: 2%">

        <h5 class="card-header"><%= train.depart + " - " + train.arrived %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Номер поезда: <%= train.number%></h5>
        <div class="card-body">
          <h5 class="card-title"><%= train.d_time + " ------> " + train.a_time %></h5>
          <p class="card-text"><%= train.d_date %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= train.a_date %></p>
          <a href="/trains/del/<%= "#{train.id}" %>" class="btn btn-primary">Удалить</a>
        </div>
      </div>
  <% end%>
<% end%>